.container{'ng-controller' => 'DemoCtrl'}
  %a{'ng-click' => 'showStaticList()'}
    Static List

  %a{'ng-click' => 'showFilterList()'}
    Filter List

  .row
    .content{'ng-controller' => 'StaticListCtrl', 'data-title' => 'Static List', 'ng-show' => 'static_list_visible'}
      %h3
        Static List

      %ul#static-list
        %li{'ng-repeat' => 'item in items'}
          {{item}}

    .content{'ng-controller' => 'FilterListCtrl', 'data-title' => 'Filter List', 'ng-show' => 'filter_list_visible'}
      %h3
        Filter List

      %input{type: 'text', 'ng-model' => 'name'}

      %ul#filter-list
        %li{'ng-repeat' => 'item in items | filter: name'}
          {{item}}