!!!
%html{'ng-app' => 'Demo'}
  %head
    %title Angular
    = stylesheet_link_tag "application", media: "all"
    = stylesheet_link_tag "http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css"
    = stylesheet_link_tag "http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css"
    = stylesheet_link_tag "http://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.0.2/css/font-awesome.min.css"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar{'bs-navbar' => 'true'}
      .navbar-inner
        %a.brand{href: '#'}
          Angular Demo
        %ul.nav
          %li
            %a{href: root_path} Demo 1

          %li
            %a{href: service_list_path} Demo 2

    = yield